<% include partials/header %>

<h1>You fell in love with : <%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "shona"){ %>
        <p>Good Choice! Shona is the best!!</p>
<% } %>

<% include partials/footer %>